{
  "ignition": {
    "config": {
      "merge": [
        {
          "source": "http://{{ helper_node_target }}:8080/ignitions/{{ cluster_domain }}/{{ cluster_name }}/{{ node_item.type if node_item.type in ["helper", "bootstrap"] }}{{ 'worker' if node_item.type == "application-node" }}{{ 'master' if node_item.type == "control-plane" }}.ign"
        }
      ]
    },
    "timeouts": {},
    "version": "3.2.0"
  },
  "networkd": {},
  "passwd": {},
  "storage": {},
  "systemd": {}
}